
<div class="container">
  <div class="col-xs-6 col-xs-offset-3">
<h2>Sign up with Google or Facebook</h2>
 <div class="sign-up-line">
      <hr>
      <span class="or">or </span>
      <hr>
    </div>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>


  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :first_name, required: true %>
    <%= f.input :last_name %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>
