<div class="user-profile-banner" style="background-image :url(<%= image_path('profile-background.jpg') %>)">
    <div class="user-actions">
      <h3 style="font-size: 60px; color: white; margin-left:35px;"><%= @user.first_name.capitalize %></h3>
      <% if  @user != current_user %>
          <%= mail_to @user.email do %>
            <div class="profile-button" style="margin-left: 45px">
              <p>Email Me</p>
            </div>
          <% end %>
      <% else %>
      <div class="our-buttons", style="margin-left: 20px;">
          <%= link_to edit_user_registration_path do %>
            <div class="profile-button">
             <p>Edit <i class="fas fa-user-edit"></i></p>
            </div>
          <% end %>
        <%= link_to destroy_user_session_path, method: :delete do %>
         <div class="profile-button">
         <p>Delete <i class="far fa-trash-alt"></i></p>
          </div>
          <% end %>
           <%= link_to destroy_user_session_path, method: :delete do %>
          <div class="profile-button">
            <p>sign out <i class="fas fa-sign-out-alt"></i></p>
          </div>
          </div>
        <% end %>
          <% if @user.recipients.count < 1 %>
            <%= link_to new_recipient_path do %>
              <div class="profile-button2">
                <p>Become a volunteer!</p>
              </div>
            <% end %>
          <% end %>
        <% end %>
    </div>

    <!-- <div class="user-bio"> -->
      <% if @user.bio %>
        <div class="card-user-profile">
          <p><%= @user.bio %></p>
        </div>
      <% end %>
    <!-- </div> -->
</div>
<% if current_user == @user %>
  <p id= "myrecipient", style="font-size:30px;">My recipients:</p>
    <% if %>
    <% @user.recipients.count < 1 %>
      <p id= "norecipients">You don't have recipients yet.</p>
    <% end %>
<% else %>
  <p id= "volunteer-for"> <%= @user.first_name.capitalize %> is currently a volunteer for:</p>
<% end %>

<!-- recipient cards -->
    <div class = "row">
      <div class="col-xs-12 cards">
        <% @user.recipients.each do |recipient|%>
        <%=link_to recipient do%>
        <div class="col-xs-12 col-sm-3">
          <div class = "index">
           <div class="card-photo" style="background-image: url('<%= recipient.photo %>');">
           </div>
           <div class="caption">
            <h3>
              <%=recipient.first_name %>
            </h3>
            <p>
             <%=recipient.bio %>
           </p>


           <div class = "requests">
             <div class = "requests-content">
              In Need Of:
            </div>
          </div>
          <div class = "icons">

           <% if recipient.items.count > 0 %>

           <% recipient.items.each do |item| %>

           <%  if item.category == "Animal" %>
           <i class="fas fa-paw"></i>
           <% elsif item.category == "Living" %>
           <i class="fas fa-home"></i>
           <% elsif item.category == "Food" %>
           <i class="fas fa-utensils"></i>
           <% elsif item.category == "Health" %>
           <i class="fas fa-medkit"></i>
           <% elsif item.category == "Education" %>
           <i class="fas fa-book"></i>
           <% elsif item.category == "Transport" %>
           <i class="fas fa-bus"></i>
           <% elsif item.category == "Leisure" %>
           <i class="fas fa-futbol"></i>
           <% else %>
           <i class="fas fa-bomb"></i>

           <% end %>
           <% end %>
           </div>

           <% end %>

</div>
       </div>
     </div>
     <%end%>
     <%end%>


   </div>
 </div>
</div>

<!-- map with recipients -->
<!-- <br>
<br> -->
  <% if @user.recipients.count > 0 %>
    <div class="map-profile" id="map" data-markers="<%= @markers.to_json %>" style="margin-top: 50px;">
    </div>
  <% end %>
  </div>
</div>
