<div class="user-profile-banner" style="background-image: url(<%= image_path('user-profile-banner.jpg') %>)">
  <div class="container-user-profile">
    <div class="user-actions">
      <h3 class="user-name"><%= @user.first_name.capitalize %></h3>
    </div>
    <div class="user-bio">
      <% if @user.bio %>
        <div class="card-user-profile">
          <p><%= @user.bio %></p>
          <p>yo yoyoyoyo yo yoyoyoyo yo yoyoyoyo yo yoyoyoyo yo yoyoyoyo yo yoyoyoyo yo yoyoyoyo yo yoyoyoyo yo yoyoyoyo </p>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <% if @user == current_user %>
    <%= link_to 'edit profile', edit_user_registration_path %>
    <%= link_to 'logout', destroy_user_session_path, method: :delete %>
    <%= link_to 'delete profile', user_registration_path, method: :delete%>
    <% if @user.volunteer %>
      <p>Thank you for being a volunteer with us! </p>
    <% else %>
      <a href="#">Become a volunteer</a>
    <% end %>
  <% else %>
    send an email
  <% end %>

  <%= @user.bio %>




<div class="profile-show-container">
  <div class="profile-content">
    <div class="profile-header">
      <% if @user.photo %>
        <%= cl_image_tag @user.photo%>
      <% else %>
        <%= image_tag 'user.png' %>
      <% end %>

      <div class="profile-elements">
        <div class="flex-between">
          <h4><%= @user.first_name.capitalize%> <%=@user.last_name%></h4>
          <% if @user == current_user %>

            <div class="profile-items">
              <%= link_to 'edit profile', edit_user_registration_path %>
              <%= link_to 'logout', destroy_user_session_path, method: :delete %>
              <%= link_to 'delete profile', user_registration_path, method: :delete%>
            </div>
          <% else %>
            <p>Send <%= @user.first_name %> an email.</p>
          <% end %>
        </div>
        <p><%= @user.bio%></p>
      </div>
    </div>

    <div class="container recent">
      <% if @user.recipients.count > 0 %>
        <div class="row">
          <h2 class="text-center">Recent Additions</h2>
          <% @recipients.first(3).each do |recipient| %>
            <%=link_to recipient do%>
              <div class="col-md-4 col-sm-6 col-xs-12">
                <div class = "index">
                  <div class="card-photo" style="background-image: url('<%= recipient.photo %>');">
                  </div>
                <div class="caption">
                  <h3>
                    <%=recipient.first_name %>
                  </h3>
                  <p>
                   <%=recipient.bio %>
                  </p>
                <div class = "requests">
                  <div class = "requests-content">
                    In Need Of:
                  </div>
                </div>
                  <div class = "icons">
                    <% if recipient.items.count > 0 %>
                      <% recipient.items.each do |item| %>
                        <% if item.category == "Animal" %>
                          <i class="fas fa-paw"></i>
                        <% elsif item.category == "Living" %>
                          <i class="fas fa-home"></i>
                        <% elsif item.category == "Food" %>
                          <i class="fas fa-utensils"></i>
                        <% elsif item.category == "Health" %>
                          <i class="fas fa-medkit"></i>
                        <% elsif item.category == "Education" %>
                          <i class="fas fa-book"></i>
                        <% elsif item.category == "Transport" %>
                          <i class="fas fa-bus"></i>
                        <% elsif item.category == "Leisure" %>
                          <i class="fas fa-futbol"></i>
                        <% else %>
                          <i class="fas fa-bomb"></i>
                        <% end %>
                    <% end %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
        <%end%>
      <%end%>
    </div>
      <% end %>
  </div>
</div>

  <% if @user.recipients.count > 0 %>
    <div class="map-profile" id="map" data-markers="<%= @markers.to_json %>">
    </div>
  <% end %>
</div>
</div>
