<div class="navbar-wagon <%= "navbar-home" if params[:action] == "home" %>">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "homefull.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

            <a href="" class="navbar-wagon-item navbar-wagon-link">Help someone</a>

            <a href="" class="navbar-wagon-item navbar-wagon-link">How it works</a>

     <%= form_tag recipients_path, :method => 'get' do %>
          <%= text_field_tag :search, params[:search], :class => "search-input", label: false, id:"search-form", placeholder: "search term"%>
          <%= text_field_tag :location, params[:location], :class => "search-input", label: false, id:"search-form", placeholder: "Location" %>
          <%= submit_tag 'Search', class: "hidden", :name => nil %>
      <% end %>


      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to recipients_path do %>
                <i class="fa fa-heart"></i> People we help
              <% end %>
            </li>
            <li>
              <%= link_to new_recipient_path do %>
                <i class="fa fa-user"></i> Add someone in need
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to "Get started", "#", data: {toggle: "modal", target: "#exampleModal"}, class: "navbar-wagon-item navbar-wagon-link"%>
            <a href="/recipients" class="navbar-wagon-item navbar-wagon-link">Help someone</a>
            <a href="/about" class="navbar-wagon-item navbar-wagon-link">How it works</a>

      <%= link_to "Login", new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Sign up", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
         <li>
              <%= link_to recipients_path do %>
                <i class="fa fa-heart"></i> People we help
              <% end %>
            </li>
         <li>
              <%= link_to new_recipient_path do %>
                <i class="fa fa-user"></i> Add someone in need
              <% end %>
            </li>
        <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
   <!-- <div class="facebook-google"> -->
    <div class="loginform">
    <h2 class="fb-login text-center">Log in with Facebook </h2>
    <h2 class="goo-login text-center">Log in with Google </h2>
  <!-- </div> -->
    <div class="sign-in-line">
      <hr>
      <span class="or">or </span>
      <hr>
    </div>

    <div class="sign-in-form">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true, placeholder: "Email", label: false %>
          <%= f.input :password, required: false, placeholder: "**********", label: false %>
          <% if devise_mapping.rememberable? %>
            <div class="remember-me">
              <%= f.input :remember_me, as: :boolean, class: "remember-me-text text-left"  %>
            </div>
          <% end %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Log in" %>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>
</div>

