<div class="container" id="map-container">
  <div class="row">
    <div class="col-xs-12">
      <div class="map-homeful">
        <div id="map" data-markers="<%= @markers.to_json %>"
          ></div>
        </div>
      </div>
    </div>
    <br>
    <div class = "row">
      <div class="col-xs-12 cards">
        <% @recipients.each do |recipient|%>
        <%=link_to recipient do%>
        <div class="col-xs-12 col-sm-3">
          <div class = "index">
           <div class="card-photo" style="background-image: url('<%= recipient.photo %>');">
           </div>
           <div class="caption">
            <h3>
              <%=recipient.first_name %>
            </h3>
            <p>
             <%=recipient.bio %>
           </p>
           <div class = "requests">
             <div class = "requests-content">
              In Need Of:
            </div>
          </div>
          <div class = "icons">

           <% if recipient.items.count > 0 %>

           <% recipient.items.each do |item| %>

           <%  if item.category == "Animal" %>
           <i class="fas fa-paw"></i>
           <% elsif item.category == "Living" %>
           <i class="fas fa-home"></i>
           <% elsif item.category == "Food" %>
           <i class="fas fa-utensils"></i>
           <% elsif item.category == "Health" %>
           <i class="fas fa-medkit"></i>
           <% elsif item.category == "Education" %>
           <i class="fas fa-book"></i>
           <% elsif item.category == "Transport" %>
           <i class="fas fa-bus"></i>
           <% elsif item.category == "Leisure" %>
           <i class="fas fa-futbol"></i>
           <% else %>
           <i class="fas fa-bomb"></i>

           <% end %>
           <% end %>
           </div>

           <% end %>

</div>
       </div>
     </div>
     <%end%>
     <%end%>


   </div>
 </div>
