<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="map-homeful">
        <div
          id="map"
          style="width:90%;
          height: 300px;"
          data-markers="<%= @markers.to_json %>"
        ></div>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class="col-xs-12">
      <% @recipients.each do |recipient|%>
      <%=link_to recipient do%>
      <div class="col-xs-12 col-sm-3">
        <div class = "card">
         <div class="card-photo" style="background-image: url('<%= recipient.photo %>');">
         </div>
         <div class="card card-name">
          <%= recipient.first_name %>
        </div>
        <div class="card-info">
          <%= recipient.bio %>
        </div>
      </div>
    </div>
    <%end%>
    <%end%>
  </div>
</div>
</div>
