<div class="container">
  <div class="col-xs-6 col-xs-offset-3">
    <h2> Add a New Person in Need </h2>
<%= simple_form_for @recipient do |f| %>

<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :bio %>
<%= f.input :phone_number %>
<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>
<%= f.input :gender, collection: ["Female", "Male", "Other"] %>
<%= f.fields_for @location do |fields| %>
   <%= fields.input :address, label: "Primary Location" %>
  <% end %>
  <p id= "takecare">By creating a profile for this person in need I agree to be responsible for the upkeep their profile, for managing and ensuring the appropriateness of the items they have requested, and to make sure the fully funded items are purchased and handed over to them in a timely manner.</p>
<%= f.submit class:"tertiary-btn" %>
<% end %>
</div>

</div>
