<div class="container">
  <div class="col-xs-6 col-xs-offset-3">
    <h2> Add a New Person in Need </h2>
<%= simple_form_for @recipient do |f| %>

<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :bio, hint: ("100 characters minimum"), input_html: {minlength:100} %>
<%= f.input :date_of_birth %>
<%= f.input :phone_number %>
<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>
<%= f.input :gender, collection: ["Female", "Male", "Other"] %>
<%= f.fields_for @location do |fields| %>
   <%= fields.input :address, label: "Primary Location" %>
  <% end %>
  <p id= "takecare">By creating a profile for a person in need I agree to be responsible for the upkeep of their profile, for managing the items needed by this person in need, and to make sure the fully funded items are purchased and handed over to the person in need.</p>
<%= f.submit %>
<% end %>
</div>

</div>
