<div class="container">
  <h1><%= @recipient.first_name %></h1>
  <%= cl_image_tag @recipient.photo, height: 300, width: 400, crop: :fill %>
  <p><%= @recipient.bio %></p>
  <div class="row">
    <% @recipient.items.each do |item| %>
      <div class="col-md-6 col-xs-12">
        <div class="item-card">
          <h1 class="item-card-name"><%= item.title.capitalize %></h1>
          <h3>
            <!-- cateogory logic -->
            <%= item.category %>
            <%  if item.category == "Animal" %>
              <i class="fas fa-paw"></i>
            <% elsif item.category == "Living" %>
              <i class="fas fa-home"></i>
            <% elsif item.category == "Food" %>
              <i class="fas fa-utensils"></i>
            <% elsif item.category == "Health" %>
              <i class="fas fa-medkit"></i>
            <% elsif item.category == "Education" %>
              <i class="fas fa-book"></i>
            <% elsif item.category == "Transport" %>
              <i class="fas fa-bus"></i>
            <% elsif item.category == "Leisure" %>
              <i class="fas fa-futbol"></i>
            <% else %>
              <i class="fas fa-bomb"></i>
            <% end %>
            <!-- cateogory logic -->
          </h3>
          <p><%= item.description.capitalize %></p>
          <!-- <p><%#= item.contributions %></p> -->
          <% if item.total_contributions && item.price_cents %>
          <p><%= humanized_money_with_symbol(item.total_contributions/100) %> raised out of <%= humanized_money_with_symbol(item.price_cents/100) %></p>
            <div class="performance-container">
              <% value = ( item.total_contributions.to_f / item.price_cents.to_f ) * 200 %>
               <% color = value >= 75 ? "green" : value < 75 && value >= 40 ? "orange" : "red" %>
              <%= progress_bar(color, value) %>
            </div>
          <% end %>
          <%= simple_form_for [@recipient, item, @contribution] do |f| %>
          <%= f.input :amount_cents, label: "Amount In Pounds" %>
          <%= f.submit label: "Make a Contribution" %>
          <% end %>
          <%#= link_to "Make a Contribution", new_recipient_item_contribution_path(@recipient, item) %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Add A New Item For #{@recipient.first_name.capitalize}", new_recipient_item_path(@recipient) %>
</div>

