<div class="profile-show-container">
  <div class="profile-content">
    <div class="profile-header">
      <% if @recipient.photo %>
        <%= cl_image_tag @recipient.photo%>
      <% else %>
        <%= image_tag 'dae_noavatar_full.png' %>
      <% end %>

      <div class="profile-elements">
        <div class="flex-between">
          <h4><%= @recipient.first_name.capitalize%></h4>
        </div>
        <p><%= @recipient.bio%></p>
      </div>
    </div>
    <div class="profile-cards"
&      <div class="row">
        <% if @recipient.items.count > 0 %>
          <% @recipient.items.each do |recipient| %>
            <div class="col-xs-12 col-sm-4">


            <% end %>
        <% else %>
          <p style="margin-left: 50px; font-style: italic; font-size: 16px"> There are currently no items for <%= @recipient.first_name.capitalize %></p>
        <%end%>
      </div>
    </div>
  </div>
  <div class="map-profile" id="map"
   data-markers="<%= @markers.to_json %>">
  </div>
</div>









