
<div class="recipients-flex" style=" background: linear-gradient(to right, #0f0c29, #302b63, #24243e);">
  <div class="recipient-avatar">
    <%= cl_image_tag @recipient.photo, height: 300, width: 400, crop: :fill %>

  </div>
  <div class="recipient-elements">
    <h3 style="color: white; margin-bottom: 90px"><%= @recipient.first_name.capitalize %></h3>
           <% if  @recipient.user == current_user %>
            <%= link_to edit_recipient_path(@recipient) do %>
              <div class="profile-button">
                <p>edit this profile</p>
              </div>
            <% end %>
            <%= link_to recipient_path(@recipient), method: :delete do %>
            <div class="profile-button">
              <p>delete this profile</p>
            </div>
          <% end %>
          <% else %>
             <%= link_to user_path(@recipient.user) do %>
              <div class="profile-button">
                <p>View Volunteer</p>
              </div>
            <% end %>
        <% end %>
  </div>
  <div class="user-bio">
        <% if @recipient.bio %>
          <div class="card-user-profile">
            <p><%= @recipient.bio %></p>
          </div>
        <% end %>
      </div>
</div>






<div class="recipients-flex">
  <!-- <div class="item-cards"> -->
    <div class="items">
      <h4 id= "requested-items", style="margin-left: 30px">Items requested by <%= @recipient.first_name %>:</h4>
      <% @recipient.items.each do |item| %>
      <div class="col-md-6 col-xs-12 cards">
        <div class="index existing-item">
          <%= link_to recipient_item_path(@recipient, item) do %>
          <div class="caption">
            <h2><%= item.title.capitalize %></h2>
            <br>
            <br>

            <div id = "item-descriptions">
              <p id = "category-type"> Category:
                <!-- cateogory logic -->
                <%= item.category %>
                <%  if item.category == "Animal" %>
                <i class="fas fa-paw"></i>
                <% elsif item.category == "Living" %>
                <i class="fas fa-home"></i>
                <% elsif item.category == "Food" %>
                <i class="fas fa-utensils"></i>
                <% elsif item.category == "Health" %>
                <i class="fas fa-medkit"></i>
                <% elsif item.category == "Education" %>
                <i class="fas fa-book"></i>
                <% elsif item.category == "Transport" %>
                <i class="fas fa-bus"></i>
                <% elsif item.category == "Leisure" %>
                <i class="fas fa-futbol"></i>
                <% else %>
                <i class="fas fa-bomb"></i>
                <% end %>
                <!-- cateogory logic -->
              </p>

              <p><%= item.description.capitalize %></p>
              <!-- <p><%#= item.contributions %></p> -->
              <% end %>

              <% if item.total_contributions && item.price_cents %>
              <p id = "amount-raised"><%= humanized_money_with_symbol(item.total_contributions/100) %> of <%= humanized_money_with_symbol(item.price_cents/100) %> raised | <%= ((item.total_contributions.to_f/ item.price_cents.to_f) * 100).to_i %>% raised  </p>

            </div>

            <div class="performance-container">
              <% value = ( item.total_contributions.to_f / item.price_cents.to_f) * 275 %>
              <% if value >= 275 %>
              <% color = "green-complete"%>
              <% elsif value >= 195 %>
              <%color = "green" %>
              <% elsif value < 195 && value >= 104 %>
              <% color = "orange" %>
              <% else %>
              <%color = "red" %>
              <%end%>
              <%= progress_bar(color, value) %>
            </div>
            <% end %>
            <%if item.total_contributions < item.price_cents %>
            <div class="form-inline donate-form">
              <%= simple_form_for [@recipient, item, @contribution] do |f| %>

              <%= f.input :amount_cents, label: false, class:"form-control donation-small-input", input_html: { value: 1}%>

              <%= f.submit value: "Donate" %>
            </div>


            <% end %>
            <% else %>
             <p id="success"> Item Funded! </p>
            <% end %>
            <%#= link_to "Donate", new_recipient_item_contribution_path(@recipient, item) %>
          </div>
        </div>
      </div>


      <% end %>
    </div>
    <!-- </div> -->
    <div class="col-md-5 col-xs-12">
      <!-- contribution messages -->
      <h3 id="contributions-title" >Previous donations</h3>
      <% if @recipient.contributions.count == 0 %>
      <p> No Donations So Far. Let's Change that! </p>
      <%else%>
      <% @recipient.items.each do |item| %>
      <% item.contributions.each do |contribution| %>
      <%if contribution == @recipient.contributions.last %>
      <div class = "comment">
        <%else%>
        <div class = "comment line">
          <%end%>
          <p class = "donation-giver"><%= User.find(contribution.user_id).first_name.capitalize %> donated <strong><%= humanized_money_with_symbol(contribution.amount_cents / 100.0) %> </strong></p>
          <p class = "donation-time"><%= contribution.created_at.strftime("%b %d, %Y")  %>
            <% unless contribution.message.nil? %>
            <p class = "donation-message"><em>"<%= contribution.message%>"</em></p>
            <%end%>
          </div>
          <% end %>
          <% end %>
          <%end%>
        </div>
      </div>





      <%= link_to "Add A New Item For #{@recipient.first_name.capitalize}", new_recipient_item_path(@recipient) %>


      <br>
      <br>
      <div class="map-recipient">
        <div id="map" data-markers="<%= @markers.to_json %>">
        </div>
        <div id="legend">
          <%= image_tag("Legend.png") %>
        </div>
      </div>




