<div class="container">
<h1><%= @recipient.first_name %></h1>
<%= cl_image_tag @recipient.photo, height: 300, width: 400, crop: :fill %>
<p><%= @recipient.bio %></p>
<div class="row">
<% @recipient.items.each do |item| %>
<div class="col-md-4 col-sm-6 col-xs-12">
<div class="item-card">
  <h1><%= item.title %></h1>
  <h3><%= item.category %></h3>
  <p><%= item.description %></p>
  <p><%= item.total_contributions %></p>
  <p><%= item.cost %></p>
</div>
</div>
  <% end %>
</div>
<%= link_to "new item test", new_recipient_item_path(@recipient) %>
</div>
