

<!-- Below is the home banner -->
<div class="home-banner" style="background-image :linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "banner.jpg" %>);">
  <div>
    <h1 class="banner-h1">
      Homeful
    </h1>
    <p class="banner-text"><span id = "banner-typed-text"></span></p>
    <a href="#more" class="button">
      LEARN MORE
    </a>
  </div>
</div>



<div class= "container">
  <div class="slick-hello">
      <% 5.times do %>
      <% @recipients.first(6).each do |recipient| %>
        <div class="card">
          <%= link_to recipient_path(recipient), class: "card-link" do %>
            <% if recipient.photo %>
              <% photo_url = cl_image_path recipient.photo %>
            <% else %>
              <% photo_url = "url('https://goo.gl/images/GPguPA')" %>
            <% end %>
            <div class="card-photo" style="background-image: url('<%= photo_url %>');"></div>
            <div class="card-name">
              <div class='recipient-name'><%= recipient.first_name.capitalize %> <%= recipient.last_name&.capitalize %></div>
            </div>
            <div class="card-bio">
             <p><%= truncate(recipient.bio, length: 200) %></p>
            </div>
            <div class="card-date">
              <p>Added on: <%= Date.today %></p>
            </div>
          <% end %>
        </div>
      <% end %>
      <% end %>
  </div>
</div>

<div class="text-center">
<a href="/recipient" class="button">
      Show me more recipient
    </a></div>



























<div class="container">
  <a name="more"></a>
    <h1 class="text-center hiw-title">How it Works</h1>
    <hr style="width:250px; margin-bottom:30px; border-top: 1px solid #cccaca; ">
  <div class="row">
    <div class="col-xs-12 col-sm-3 text-center">
      <%= image_tag "one.png", class: "hiw-image" %>
      <p class="hiw-card-top"><strong>Create a</strong> <em>free</em> <strong>profile</strong></p>
      <p class="hiw-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis at dolorum expedita vero eos sint, soluta explicabo fugiat ut. .</p>
    </div>
    <div class="col-xs-12 col-sm-3 text-center">
      <%= image_tag "two.png", class: "hiw-image" %>
      <p class="hiw-card-top"><strong>Help your local homeless</strong></p>
      <p class="hiw-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima voluptatem quia reprehenderit perspiciatis, quasi dignissimos, culpa minus natus illum nihil .</p>
    </div>
    <div class="col-xs-12 col-sm-3 text-center">
      <%= image_tag "three.png", class: "hiw-image" %>
      <p class="hiw-card-top"><strong>Help fund</strong></p>
      <p class="hiw-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo totam nemo repellat perferendis veniam cupiditate laborum, omnis molestias, laboriosam .</p>
    </div>
    <div class="col-xs-12 col-sm-3 text-center">
      <%= image_tag "four.png", class: "hiw-image" %>
      <p class="hiw-card-top"><strong>Reach the goal </strong></p>
      <p class="hiw-card-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores at esse vel hic, tempora facere, ratione nihil quod error possimus, impedit alias commodi </p>
    </div>
  </div>

</div>

