

<!-- Below is the home banner -->
<div class="home-banner" style="background-image :linear-gradient(-225deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 50%), url(<%= image_path "banner.jpg" %>);">
  <div>
    <h1 class="banner-h1">
      Homeful
    </h1>
    <p>Make <span id="homeful-typed" style="max-width:100px;"></span>donations</p>
    <a href="#more" class="secondary-btn">Get Started</a>
  </div>
</div>




<div style="background-image :linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path "howitworks.jpg" %>);">

<h1 class="text-center hiw" id="more">How it Works</h1>
<ul class="timeline">
  <!-- Item 1 -->
  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="time-wrapper"><span class="time">Accounts Created with Volunteers</span></span>
      </div>
      <div class="desc">Our volunteers work with those in need to set up accounts on the site and add appropriate items they need.</div>
    </div>
  </li>

  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="time-wrapper"><span class="time">Find Those in Need</span></span>
      </div>
      <div class="desc">Users sign up with free accounts to see those in need within a specific area and learn more about them on their profile pages.</div>
    </div>
  </li>

  <li>
    <div class="direction-r">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="time-wrapper"><span class="time">Contribute towards items</span></span>
      </div>
      <div class="desc">Users make donations to help with the purchase of specific items for the person in need they have selected.</div>
    </div>
  </li>

  <li>
    <div class="direction-l">
      <div class="flag-wrapper">
        <span class="hexa"></span>
        <span class="time-wrapper"><span class="time">Volunteers Deliver Items</span></span>
      </div>
      <div class="desc">Once the total amount needed is reached, we purchase the item on the person in need's behalf, delivered to them personally by one of our volunteers.</div>
    </div>
  </li>
</ul>

</div>
<div class="container recent">
  <div class="row">
   <h2 class="text-center">Recent Additions</h2>
   <% @recipients.first(3).each do |recipient| %>
   <%=link_to recipient do%>
   <div class="col-md-4 col-sm-6 col-xs-12">
    <div class = "index">
     <div class="card-photo" style="background-image: url('<%= recipient.photo %>');">
     </div>
     <div class="caption">
      <h3>
        <%=recipient.first_name %>
      </h3>
      <p>
       <%=recipient.bio %>
     </p>

     <div class = "requests">
       <div class = "requests-content">
        In Need Of:
      </div>
    </div>
    <div class = "icons">
      <% if recipient.items.count > 0 %>
      <% recipient.items.each do |item| %>
      <% if item.category == "Animal" %>
      <i class="fas fa-paw"></i>
      <% elsif item.category == "Living" %>
      <i class="fas fa-home"></i>
      <% elsif item.category == "Food" %>
      <i class="fas fa-utensils"></i>
      <% elsif item.category == "Health" %>
      <i class="fas fa-medkit"></i>
      <% elsif item.category == "Education" %>
      <i class="fas fa-book"></i>
      <% elsif item.category == "Transport" %>
      <i class="fas fa-bus"></i>
      <% elsif item.category == "Leisure" %>
      <i class="fas fa-futbol"></i>
      <% else %>
      <i class="fas fa-bomb"></i>
      <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
</div>
<%end%>
<%end%>
</div>
</div>

<br>
<div class= "col-xs-12 text-center">
  <%= link_to "  GET STARTED  ", recipients_path, class: "button", id: "started" %>
</div>
<br>
<br>



