<div class="container">
  <div class="col-md-8 col-md-offset-2">
<h2>Thank you for your <%= humanized_money_with_symbol(@contribution.amount_cents / 100.0) %> this will truly help towards <%= @recipient.first_name.capitalize %>'s goal of getting their <%= @contribution.item.title.capitalize %></h2>
</div>
  <div class="col-md-6 col-md-offset-3">
<h4>Leave a message for <%= @recipient.first_name %></h4>
<%= simple_form_for @contribution, url: recipient_item_contribution_path, method: :patch do |f|%>
<%=  f.input :message%>
<%= f.submit value: "Confirm" %>
<% end %>
</div>
</div>
