<br>
   <!-- <div class="facebook-google"> -->
<div class="container">
  <div class="col-xs-6 col-xs-offset-3">
    <a href="#"><h2 class="fb-login text-center">Log in with Facebook</h2></a>
    <a href="#"><h2 class="goo-login text-center">Log in with Google</h2><a/>
  <!-- </div> -->
    <div class="sign-in-line">
      <hr>
      <span class="or">or </span>
      <hr>
    </div>


      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, required: false, autofocus: true, placeholder: "Email", label: false %>
          <%= f.input :password, required: false, placeholder: "**********", label: false %>
          <% if devise_mapping.rememberable? %>
            <div class="remember-me">
              <%= f.input :remember_me, as: :boolean, class: "remember-me-text text-left"  %>
            </div>
          <% end %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Log in", id: "log" %>
        </div>
      <% end %>

    <%= render "devise/shared/links" %>

    </div>
  </div>



