<div class="container">
  <div class="col-md-6 col-md-offset-3">
<%= form_tag recipient_item_contribution_payments_path(@recipient, @item, @contribution) do %>
  <article>
    <label class="amount">
      <h2>You are going to donate <%= humanized_money_with_symbol(@contribution.amount) %> for <%= @recipient.first_name.capitalize %>'s <%= @item.title.capitalize %></h2>
    </label>
    <div class="card-photo" style="background-image: url('<%= @recipient.photo %>'); height: 500px; width: 500px;">
         </div>
         <h3 class="text-center">Category: <%= @item.category %>
           <%  if @item.category == "Animal" %>
           <i class="fas fa-paw"></i>
           <% elsif @item.category == "Living" %>
           <i class="fas fa-home"></i>
           <% elsif @item.category == "Food" %>
           <i class="fas fa-utensils"></i>
           <% elsif @item.category == "Health" %>
           <i class="fas fa-medkit"></i>
           <% elsif @item.category == "Education" %>
           <i class="fas fa-book"></i>
           <% elsif @item.category == "Transport" %>
           <i class="fas fa-bus"></i>
           <% elsif @item.category == "Leisure" %>
           <i class="fas fa-futbol"></i>
           <% else %>
           <i class="fas fa-bomb"></i>
           <% end %>
        </h3>
    <h4 class="text-center">Reason for needing: <%= @item.description.capitalize %></h3>
    <h3 class="text-center">Total raised so far: <%= humanized_money_with_symbol(@item.total_contributions / 100) %> out of <%= humanized_money_with_symbol(@item.price_cents / 100) %></h3>

  </article>
  <div class="flexbut">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button center-button text-center"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Homeful"
    data-email="<%= current_user.email %>"
    data-description="<%= @contribution.item.title %>"
    data-amount="<%= @contribution.amount_cents %>"
    data-currency="<%= @contribution.amount.currency %>">
    </script>
    </div>
<% end %>
</div>
<div class="col-md-6 col-md-offset-3">
  <h3><%= @recipient.first_name.capitalize %>'s volunteer <%= @recipient.user.first_name %> will deliver this <%= @item.title %> to them</h3>

</div>
</div>
   <!-- Commented for the lecture, remove comments. -->
