
<br>
<div class="container" id="confirm-donation">
  <div class="col-md-6 col-md-offset-3" >
    <%= form_tag recipient_item_contribution_payments_path(@recipient, @item, @contribution) do %>
    <div class ="row" id="confirm-heading">
      <h3>Confirm Donation </h3>
    </div>
    <div class="row confirm-body">
      <br>
      <div class="col-md-6">
        <p>Total Donation: </p>
      </div>
      <div class="col-md-6 text-right" >
        <p> <%= humanized_money_with_symbol(@contribution.amount) %> for <%= @recipient.first_name.capitalize %>'s <%= @item.title.capitalize %> </p>
      </div>
    </div>
    <div class="row confirm-body">
      <div class="col-md-6">
        <p>Item Category:</p>
      </div>
      <div class="col-md-6 text-right">
        <p> <%= @item.category %>
          <%  if @item.category == "Animal" %>
            <i class="fas fa-paw"></i>
          <% elsif @item.category == "Living" %>
            <i class="fas fa-home"></i>
          <% elsif @item.category == "Food" %>
            <i class="fas fa-utensils"></i>
          <% elsif @item.category == "Health" %>
            <i class="fas fa-medkit"></i>
          <% elsif @item.category == "Education" %>
            <i class="fas fa-book"></i>
          <% elsif @item.category == "Transport" %>
            <i class="fas fa-bus"></i>
          <% elsif @item.category == "Leisure" %>
            <i class="fas fa-futbol"></i>
          <% else %>
            <i class="fas fa-bomb"></i>
          <% end %>
        </p>
      </div>
    </div>
    <div class = "row confirm-body">
      <div class = "col-md-6">
        <p>Item Description:</p>
      </div>
      <div class ="col-md-6 text-right">
        <p> <%= @item.description.capitalize %></p>
      </div>
    </div>
    <div class = "row confirm-body">
      <div class = "col-md-6">
        <p>Total raised so far: </p>
      </div>
      <div class = "col-md-6 text-right">
        <p><%= humanized_money_with_symbol(@item.total_contributions / 100) %> out of <%= humanized_money_with_symbol(@item.price_cents / 100) %> </p>
      </div>
    </div>
    <div class = "row payment">
      <div class = "col-md-12 text-center">
        <hr>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button center-button "
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="Homeful"
        data-email="<%= current_user.email %>"
        data-description="<%= @contribution.item.title %>"
        data-amount="<%= @contribution.amount_cents %>"
        data-currency="<%= @contribution.amount.currency %>">
      </script>

      <% end %>
      </div>
    </div>
    <div class = "row confirm-final text-center">
      <div class = "col-md-12">
        <hr>
        <p><%= @recipient.first_name.capitalize %>'s volunteer <%= @recipient.user.first_name.capitalize %> will deliver this <%= @item.title %> to them </p>
        <br>
      </div>
    </div>
  </div>
</div>
