
<%= form_tag recipient_item_contribution_payments_path(@recipient, @item, @contribution) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@contribution.amount) %></span>
    </label>
  </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="Homeful"
    data-email="<%= current_user.email %>"
    data-description="<%= @contribution.item.title %>"
    data-amount="<%= @contribution.amount_cents %>"
    data-currency="<%= @contribution.amount.currency %>">
    </script>
<% end %>

   <!-- Commented for the lecture, remove comments. -->




