
<div class="item-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(<%= image_path('hands.jpg'); %>)">

  <div class="item-banner-text">
    <p>Make a Meaningful Donation to <%= @recipient.first_name %></p>
    <p>Towards His <%= @item.title.capitalize %></p>
  </div>
</div>

<div class="item-donation-text">
  <h3>Thank you for considering making a donation!</h3>
  <p>One donation may not change the world, but it will change the world for one person.</p>
</div>

<div class="item-on-show">
  <div class="donation-card">
    <h1 class="item-header"><%= @item.title.capitalize %></h1>
    <h3><%= @item.description %></h3>
    <h3><%= @item.category %>
      <%  if @item.category == "Animal" %>
        <i class="fas fa-paw"></i>
      <% elsif @item.category == "Living" %>
         <i class="fas fa-home"></i>
      <% elsif @item.category == "Food" %>
        <i class="fas fa-utensils"></i>
      <% elsif @item.category == "Health" %>
        <i class="fas fa-medkit"></i>
      <% elsif @item.category == "Education" %>
        <i class="fas fa-book"></i>
      <% elsif @item.category == "Transport" %>
        <i class="fas fa-bus"></i>
      <% elsif @item.category == "Leisure" %>
        <i class="fas fa-futbol"></i>
      <% else %>
        <i class="fas fa-bomb"></i>
      <% end %>
    </h3>
    <h3><%= humanized_money_with_symbol(@item.total_contributions / 100.0) %> raised out of <%= humanized_money_with_symbol(@item.price_cents/100.0) %></h3>
    <div class="performance-container" style="width: 200px">
      <% value = (@item.total_contributions.to_f/(@item.price_cents.to_f))*200 %>
      <% color = value >= 75 ? "green" : value < 75 && value >= 40 ? "orange" : "red" %>
      <%= progress_bar(color, value) %>
    </div>
    <div class="donation-bar-item-show">
      <%= simple_form_for [@recipient, @item, @contribution] do |f| %>
        <%= f.input :amount_cents, label: "Donation amount", class:"form-control", input_html: { value: 5} %>
        <%= f.submit value: "Make a donation", class:"profile-button2" %>
      <% end %>
    </div>
  </div>
</div>


<div class="item-flex-box">
  <div class="item-bottom-left">
    <h3 style="font-style: lighter">Other items wanted by <%= @recipient.first_name %>:</h3>
    <div class="row">
      <% if @recipient.items.where.not(id: @item.id).count < 1 %>
        <p style="margin-left: 50px">There are currently no other items!</p>
      <% end %>
      <% @recipient.items.where.not(id: @item.id).each do |item| %>
        <%= link_to recipient_item_path(@recipient, item) do %>
          <div class="col-md-6 col-xs-12 cards">
        <div class="index existing-item">
          <%= link_to recipient_item_path(@recipient, item) do %>
          <div class="caption">
            <h2><%= item.title.capitalize %></h2>
            <br>
            <br>

            <div id = "item-descriptions">
              <p id = "category-type"> Category:
                <!-- cateogory logic -->
                <%= item.category %>
                <%  if item.category == "Animal" %>
                <i class="fas fa-paw"></i>
                <% elsif item.category == "Living" %>
                <i class="fas fa-home"></i>
                <% elsif item.category == "Food" %>
                <i class="fas fa-utensils"></i>
                <% elsif item.category == "Health" %>
                <i class="fas fa-medkit"></i>
                <% elsif item.category == "Education" %>
                <i class="fas fa-book"></i>
                <% elsif item.category == "Transport" %>
                <i class="fas fa-bus"></i>
                <% elsif item.category == "Leisure" %>
                <i class="fas fa-futbol"></i>
                <% else %>
                <i class="fas fa-bomb"></i>
                <% end %>
                <!-- cateogory logic -->
              </p>

              <p id= "description"><%= item.description.capitalize %></p>
              <!-- <p><%#= item.contributions %></p> -->
              <br>
              <br>
              <% end %>

              <% if item.total_contributions && item.price_cents %>
              <p id = "amount-raised"><%= humanized_money_with_symbol(item.total_contributions/100) %> of <%= humanized_money_with_symbol(item.price_cents/100) %><%= ((item.total_contributions.to_f/ item.price_cents.to_f) * 100).to_i %> %  raised</p>

            </div>

            <div class="performance-container">
              <% value = ( item.total_contributions.to_f / item.price_cents.to_f) * 275 %>
              <% if value >= 275 %>
              <% color = "green-complete"%>
              <% elsif value >= 195 %>
              <%color = "green" %>
              <% elsif value < 195 && value >= 104 %>
              <% color = "orange" %>
              <% else %>
              <%color = "red" %>
              <%end%>
              <%= progress_bar(color, value) %>
            </div>
            <% end %>
            <%if item.total_contributions < item.price_cents %>
            <div class="form-inline donate-form">
              <%= simple_form_for [@recipient, item, @contribution] do |f| %>

              <%= f.input :amount_cents, label: false, class:"form-control donation-small-input", input_html: { value: 1}, style:"margin-left:36px;"%>

              <%= f.submit value: "Donate" , class:"tertiary-btn" %>
            </div>


            <% end %>
            <% else %>
             <p id="success"> Item Funded! </p>
            <% end %>
            <%#= link_to "Donate", new_recipient_item_contribution_path(@recipient, item) %>
          </div>
        </div>
      </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="item-bottom-right">
    <h3 id="contributions-title" >Previous contributions</h3>
    <% if @contributions.count == 0 %>
      <p class = "no-donations"> No Donations So Far. Let's Change that! </p>
    <%else%>
      <% @contributions.each do |contribution| %>
        <%if contribution == @contributions.last %>
          <div class = "comment">
        <%else%>
          <div class = "comment line">
        <%end%>
            <p class = "donation-giver"><%= User.find(contribution.user_id).first_name.capitalize %> donated <strong><%= humanized_money_with_symbol(contribution.amount_cents / 100.0) %> </strong></p>
            <p class = "donation-time"><%= contribution.created_at.strftime("%b %d, %Y")  %>
              <% unless contribution.message.nil? %> </p>
                <p class = "donation-message"><em>"<%= contribution.message%>"</em></p>
                <%end%>
            </div>
        <% end %>
      <%end%>
     </div>
  </div>
</div>


