<div class="container">
  <div class="col-md-6 col-xs-12">
    <h1><%= @item.title.capitalize %></h1>
    <h3><%= @item.description %></h3>
    <h3><%= @item.category %>
     <%  if @item.category == "Animal" %>
     <i class="fas fa-paw"></i>
     <% elsif @item.category == "Living" %>
     <i class="fas fa-home"></i>
     <% elsif @item.category == "Food" %>
     <i class="fas fa-utensils"></i>
     <% elsif @item.category == "Health" %>
     <i class="fas fa-medkit"></i>
     <% elsif @item.category == "Education" %>
     <i class="fas fa-book"></i>
     <% elsif @item.category == "Transport" %>
     <i class="fas fa-bus"></i>
     <% elsif @item.category == "Leisure" %>
     <i class="fas fa-futbol"></i>
     <% else %>
     <i class="fas fa-bomb"></i>
     <% end %></h3>
     <h3><%= humanized_money_with_symbol(@item.total_contributions / 100.0) %> raised out of <%= humanized_money_with_symbol(@item.price_cents/100.0) %></h3>
     <div class="performance-container">
      <% value = ( @item.total_contributions.to_f / @item.price_cents.to_f ) * 200 %>
      <% color = value >= 75 ? "green" : value < 75 && value >= 40 ? "orange" : "red" %>
      <%= progress_bar(color, value) %>
    </div>
    <div class="donation-small-input">
          <%= simple_form_for [@recipient, @item, @contribution] do |f| %>
            <%= f.input :amount_cents, label: "Donation amount", class:"form-control", input_html: { value: 1} %>
            <%= f.submit value: "Make a donation" %>
           <% end %>
        </div>

  </div>
  <div class="col-md-6 col-xs-12">
    <h3 id="contributions-title" >Previous contributions</h3>
    <% @item.contributions.each do |contribution| %>
    <div class = "comment">
    <p class = "donation-giver"><%= User.find(contribution.user_id).first_name.capitalize %> donated <strong><%= humanized_money_with_symbol(contribution.amount_cents / 100.0) %> </strong></p>
    <p class = "donation-time"><%= contribution.created_at.strftime("%b %d, %Y")  %>
    <p class = "donation-message"><em>"<%= contribution.message%>"<em></p>
  </div>
    <% end %>
    </div>
  <div class="col-md-12 col-xs-12">
    <br>
    <br>
    <h3>Other items wanted by <%= @recipient.first_name %></h3>
  </div>
  <div class="row">
    <% @recipient.items.where.not(id: @item.id).each do |item| %>
    <%= link_to recipient_item_path(@recipient, item) do %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="item-card">
        <h3 class="item-card-name"><%= item.title.capitalize %></h3>
        <h4>
          <!-- cateogory logic -->
          <%= item.category %>
          <%  if item.category == "Animal" %>
          <i class="fas fa-paw"></i>
          <% elsif item.category == "Living" %>
          <i class="fas fa-home"></i>
          <% elsif item.category == "Food" %>
          <i class="fas fa-utensils"></i>
          <% elsif item.category == "Health" %>
          <i class="fas fa-medkit"></i>
          <% elsif item.category == "Education" %>
          <i class="fas fa-book"></i>
          <% elsif item.category == "Transport" %>
          <i class="fas fa-bus"></i>
          <% elsif item.category == "Leisure" %>
          <i class="fas fa-futbol"></i>
          <% else %>
          <i class="fas fa-bomb"></i>
          <% end %>
          <!-- cateogory logic -->
        </h4>
        <p><%= item.description.capitalize %></p>
        <!-- <p><%#= item.contributions %></p> -->
        <% end %>
        <% if item.total_contributions && item.price_cents %>
        <p><%= humanized_money_with_symbol(item.total_contributions/100) %> raised out of <%= humanized_money_with_symbol(item.price_cents/100) %></p>
        <div class="performance-container">
          <% value = ( item.total_contributions.to_f / item.price_cents.to_f ) * 200 %>
          <% color = value >= 75 ? "green" : value < 75 && value >= 40 ? "orange" : "red" %>
          <%= progress_bar(color, value) %>
        </div>
        <% end %>
        <!-- item contributions bar -->
      </div>
        <div class="donation-small-input">
          <%= simple_form_for [@recipient, item, @contribution] do |f| %>
            <%= f.input :amount_cents, label: "Donation amount", class:"form-control" %>
            <%= f.submit value: "Make a donation" %>
           <% end %>
        </div>
          <%#= link_to "Make a Contribution", new_recipient_item_contribution_path(@recipient, item) %>
    </div>
      <% end %>
  </div>
</div>
